* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flexbox;
  height: 100vh;
}
.header {
  padding-top: 5%;
  padding-inline-start: 10%;
  font-size: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: #390741;
}
.logo {
  color: gray;
  font-family: "Times New Roman", Times, serif;
}
.material-icons {
  position: relative;
  display: inline-flex;
  padding-left: 80%;
}
p {
  text-align: justify;
  text-transform: capitalize;
}
.body-heading {
  color: rgb(41, 93, 238);
  font-size: 38px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.body-footer {
  color: darkmagenta;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
